.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.panel-body
{
    overflow-y: scroll;
    height: 80vh;
}

#panel-body-home {
	overflow-y: scroll;
    height: 30vh;
}

.btn-home {
	min-width: 200px;
	padding: 20px;
	font-size: 200%;
}

.home-component {
	margin: 100px;
}

.home-wall {
	margin-top:200px;
}
